{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="c-landing">
    <div class="c-landing__header">
      <a href="/" class="c-landing__brand">
        <img src="images/logo.svg" alt="Xavi Ang"/>
      </a>
      <section class="c-socials  u-text-center  u-text-left@tablet">
        <span class="c-socials__title">Follow Me</span>
        <div class="o-list-inline  c-socials__list">
          <a target="_blank" href="https://www.facebook.com/xavianaxw" class="o-list-inline__item  c-socials__list-item">{{ sprite('facebook') }}</a>
          <a target="_blank" href="https://twitter.com/xavianaxw" class="o-list-inline__item  c-socials__list-item">{{ sprite('twitter') }}</a>
          <a target="_blank" href="https://github.com/xavianaxw" class="o-list-inline__item  c-socials__list-item">{{ sprite('github') }}</a>
          <a target="_blank" href="https://codepen.com/xavianaxw" class="o-list-inline__item  c-socials__list-item">{{ sprite('codepen') }}</a>
          <a target="_blank" href="https://instagram.com/xavianaxw" class="o-list-inline__item  c-socials__list-item">{{ sprite('instagram') }}</a>
          <a target="_blank" href="https://linkedin.com/xavianaxw" class="o-list-inline__item  c-socials__list-item">{{ sprite('linkedin') }}</a>
        </div>
      </section>
    </div>
    <div class="c-landing__body  u-margin-top  u-text-center">
      <span class="u-body">+61 | Lead Front-End Developer <a href="https://github.com/honest-fox" target="_blank">@honest-fox</a>. Mad about hoodies and a Javascript kinda guy</span>
      <span class="u-tiny  u-margin-top">Currently with <a href="https://honestfox.com.au" target="_blank">Honest Fox</a></span>
    </div>
  </div>
{% endblock %}
