{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="c-overlay  c-overlay--top">

  </div>
  <section class="c-body__section  c-body__section--top-left">
    <a href="/" class="c-body__brand">
      <img src="images/logo.svg" alt="Xavi Ang"/>
    </a>
  </section>
  <section class="c-body__section  c-body__section--top-right">
    <a href="https://honestfox.com.au" class="c-body__brand">
      <img src="images/honest-fox.svg" alt="Honest Fox"/>
    </a>
    <span class="u-body  u-padding-right  u-hide  u-show@desktop">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
  </section>
  <section class="c-body__section  c-body__section--bottom-right  u-text-center  u-text-right@desktop">
    <span class="c-socials__title">Follow Me</span>
    <div class="o-list-inline  c-socials">
      <a href="#" class="o-list-inline__item  c-socials__item">{{ sprite('facebook') }}</a>
      <a href="#" class="o-list-inline__item  c-socials__item">{{ sprite('twitter') }}</a>
      <a href="#" class="o-list-inline__item  c-socials__item">{{ sprite('github') }}</a>
      <a href="#" class="o-list-inline__item  c-socials__item">{{ sprite('instagram') }}</a>
      <a href="#" class="o-list-inline__item  c-socials__item">{{ sprite('linkedin') }}</a>
    </div>
  </section>
  <section class="c-body__content  u-hide@desktop">
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
    <span class="u-body">+61 | Front-End Web Developer <a href="#">@honest-fox</a><br/>Mad about hoodies and a Javascript kinda guy</span>
  </section>
  <div class="c-overlay  c-overlay--btm">

  </div>
{% endblock %}
