.c-body {
  background-color: $mine-shaft;
  // background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: map-get($z-index, 'body-overlay');
    background-color: rgba($mine-shaft, 0.69);
  }
}
