// font-size | line-height | letter-spacing | text-transform (optional)

$typographies: (
  'body': (
    font: (overpass-mono, regular),
    breakpoints: (
      mobile: (16px, 26px, 1px),
    ),
  ),
  'post-title': (
    font: (oswald, bold),
    breakpoints: (
      mobile: (18px, 26px, 4px),
      desktop: (24px, 36px, 4px),
    ),
  ),
  'post-meta': (
    font: (overpass-mono,  regular),
    breakpoints: (
      mobile: (14px, 18px, 1px),
      desktop: (16px, 21px, 1.14px),
    ),
  ),
  'tiny': (
    font: (overpass-mono, regular),
    breakpoints: (
      mobile: (12px, 12px, 1px),
    ),
  )
);
