* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@include headings() {
  @include font('oswald', 'bold');
  @include inuit-font-size(24px, 36px);
  letter-spacing: 4px;
}

p {
  @include typography('body');
}
