* {
  @include font('overpass-mono', 'regular');
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $white;
}

@include headings() {
  @include font('oswald', 'bold');
  @include inuit-font-size(24px, 36px);
  letter-spacing: 4px;
}
