// ==========================================================================||
//  $fonts map defined in settings.fonts
// ==========================================================================||

@mixin font($family, $weight: 'regular') {
  font-family: map-get($fonts, $family);

  @if $weight == 'thin' {
    font-weight: 100;
  }
  @elseif $weight == 'extra-light' {
    font-weight: 200;
  }
  @elseif $weight == 'light' {
    font-weight: 300;
  }
  @elseif $weight == 'regular' {
    font-weight: 400;
  }
  @elseif $weight == 'medium' {
    font-weight: 500;
  }
  @elseif $weight == 'semi-bold' {
    font-weight: 600;
  }
  @elseif $weight == 'bold' {
    font-weight: 700;
  }
  @else if $weight == 'extra-bold' {
    font-weight: 800;
  }
  @else if $weight == 'black' {
    font-weight: 900;
  }
}
