{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Card Data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta property="twitter:image" content="https://xavianaxw.github.io/me/images/embed.jpg">

    <!-- Open Graph Data -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content ="https://xavianaxw.com">
    <meta property="og:image" content="https://xavianaxw.github.io/me/images/embed.jpg">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Xavi Ang">

    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body class="c-body">
    {% block content %}{% endblock %}
    {% block javascript %}
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
